
body{
    background: url("../images/background-index-leaves.png");
}
.m-padded-tb-mini{
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;

}
.m-padded-tiny{
    padding: 0.4em !important;
}

.m-padded-tb-massive{
    padding: 4em 1.5em !important;
}

.m-padded-tb-large{
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}

.m-padded-to-micro{
    padding-top: 0.0001em !important;
    padding-bottom: 0.0001em !important;
}

.m-padded-to-big{
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
.m-padded-to-massive{
    padding-top: 3em !important;
    padding-bottom: 2em !important;
}


.m-padded-lr-responsive{
    padding-left: 4em !important;
    padding-right: 4em !important;
}

.m-text{
    font-weight: 300 !important;
    line-spacing: 1px !important;
    line-height: 1.8;
}
.m-text-thin{
    font-weight: 300 !important;
}
.m-text-spaced{
    line-spacing: 1px !important;
}
.m-text-lined{
    line-height: 1.8;
}
.m-inline-block{
    display: inline-block !important;
 }
.m-container{
    max-width: 72em !important;
    margin: auto !important;
}
.m-container-small{
    max-width: 60em !important;
    margin: auto !important;
}
/*外部间隔*/

.m-margin-bottom-small{
    margin-bottom: 0.5em !important;
}
.m-margin-tb-tiny{
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}

.m-margin-top{
    margin-top: 1em !important;
}

.m-margin-top-small{
    margin-top: 0.5em !important;
}

.m-margin-top-large{
margin-top: 2em !important;
}


/*透明度设置*/
.m-opacity-mini{
    opacity: 0.6 !important;
}

/*position*/
.m-right-top{
    position: absolute;
    top: 0;
    right: 0;
}

.m-mobile-lr-clear{
    padding-left: 2em !important;
    padding-right: 2em !important;
}

.m-mobile-show{
    display: none !important;
}

/*当屏幕宽度小于768时，意为使用手机进行操作*/
@media  screen and (max-width: 768px) {
    .m-mobile-hide{
        display: none !important;
    }
    .m-mobile-show{
        display: block !important;
    }
    .m-mobile-wide{
        width: 100% !important;
    }
    .m-padded-lr-responsive{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-mobile-lr-clear{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

/*position*/
.m-fixed{
    position: fixed !important;
    z-index: 10 !important;
}

.m-right-bottom{
    bottom: 0 !important;
    right: 0 !important;
}

/*阴影*/
.m-shadow-small{
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.1) !important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1) !important;
}

/*color*/
.m-black{
    color: #333 !important;
}
.m-orange{
    color: orange !important;
}