<?xml version="1.0" encoding="UTF-8" ?>
<!--引用的是约束，规定其中能使用的标签-->
<!--其是映射文件，其中放的是sql语句-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--名字要与mapper中的接口名保持一致,然后就对应上了-->
<mapper namespace="com.example.mybatis.mapper.UserMapper">

<!--    方法名要与id保持一致-->
<!--    int insertUser();-->
    <insert id="insertUser">
        insert into t_user values(null,'admin','123456',23,'男','12345@qq.com')
    </insert>

    <update id="updateUser">
        update t_user set username='root',password='123' where id = 3
    </update>

    <delete id="deleteUser">
        delete from t_user where id =3
    </delete>

<!--    resultType:设置结果类型，即查询的数据要转换的java类型
        resultMap:自定义映射，处理一对一或一对多的映射关系
-->
    <select id="getUserById" resultType="com.example.mybatis.pojo.User">
        select * from t_user where id = 1
    </select>

    <select id="getAllUser" resultType="abc">
        select * from t_user
    </select>
</mapper>